@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
img {
  width: 600px;
}

/* **header and footers parts** */
.header,
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0px -5px;
  padding: 5px;
  /* border: 1px solid red; */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
}
a {
  text-decoration: none;
  color: rgb(30, 30, 30);
}
/* **middle part** */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  /* border: 1px solid red; */
}

ul {
  display: flex;
  gap: 30px;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #eee;
  padding: 5px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
